.td {
  word-break: break-word;
  word-wrap: break-word;
}

.total-span {
  margin-right: 15px;
}

.cell-align-center {
  text-align: center;
}

.cell-align-left {
  text-align: left;
}

.cell-align-right {
  text-align: right;
}
