.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.search-form-container {
  max-width: 1600px;
  margin-right: 10px;
}

.table-container {
  margin: 25px 0 15px 0;
  background: #fff;
  flex: 1;
  overflow: auto;
}