<nz-modal 
  [(nzVisible)]="isVisible"
  [nzTitle]="title"
  [nzWidth]="width"
  nzWrapClassName="vertical-center-modal"
  [nzFooter]="footer || modalFooter"
  [nzBodyStyle]="bodyStyle"
  (nzOnCancel)="eventOnCancel()"
>
  <ng-content></ng-content>
  <ng-template #modalFooter>
    <button *ngIf="isShowCancel" nz-button nzType="default" (click)="eventOnCancel()">{{cancelText | translate}}</button>
    <button *ngIf="isShowOk" nz-button nzType="primary" [nzLoading]="loading" (click)="eventOnOk()">{{okText | translate}}</button>
  </ng-template>
</nz-modal>
