
<div class="search-form">
  <div class="search-container">
    <app-dynamic-form
      #dynamicForm
      nzLayout="inline"
      [layout]="layout"
      [config]="config"
      [fieldStore]="fieldStore"
      (valueChanges)="valueChanges.emit($event)"
      (dynamicSubmit)="searchSubmit.emit($event)">
    </app-dynamic-form>
  </div>
  <div class="search-button-container">
    <button nz-button nzType="primary" (click)="dynamicForm.submit()">查询</button>
    <ng-content></ng-content>
  </div>
</div>
  
  
  
  
  