<nz-upload
  [nzAccept]="nzAccept"
  [nzAction]="nzAction"
  [nzDirectory]="nzDirectory"
  [nzBeforeUpload]="beforeUpload.bind(this)"
  [nzCustomRequest]="nzCustomRequest"
  [nzData]="nzData"
  [nzDisabled]="nzDisabled"
  [nzFileList]="nzFileList"
  [nzLimit]="nzLimit"
  [nzSize]="nzSize"
  [nzFileType]="nzFileType"
  [nzFilter]="nzFilter"
  [nzHeaders]="nzHeaders"
  [nzListType]="nzListType"
  [nzMultiple]="nzMultiple"
  [nzName]="nzName"
  [nzShowUploadList]="nzShowUploadList"
  [nzShowButton]="nzShowButton"
  [nzOpenFileDialogOnClick]="nzOpenFileDialogOnClick"
  [nzPreview]="nzPreview"
  [nzRemove]="remove.bind(this)"
  (nzChange)="change($event)"
  [class.hide-upload-btn]="maxFile && maxFile <= nzFileList.length"
>
  <button nz-button class="upload-btn" type="button">
    <i nz-icon nzType="upload"></i>
    <span>{{ uploadText }}</span>
  </button>
</nz-upload>
